/*Debería verse bien en pantallas de 14" y en pantallas de 24"*/
.listaiconos
{
    display: flex;
}

.listaiconos li
{
flex-grow: 5;
}

.listaiconos li a {
    color:black;
    text-decoration: none;
}

.diviconos
{
    padding-top: 3%;
}