/*Debería verse bien en pantallas de 14" y en pantallas de 24"*/

.tituloBlog
{
    align-items: center;
    /*display: flex;*/
    
    justify-content: left;
    padding-right: 0%;
    margin: 0%;
}

h4
{
    text-align: left;
    margin-top: 1%;
}

h6
{
    font-style: italic;
}

.contentblog
{
    text-align: justify;    
    margin-top: 1%;
    padding-left: 2%;
}

.imagen-blog {
    width: 150px;
    height: 150px;
    padding-right: 0%;
  }

  .espacio-sup
  {
    margin-top: 1%;

  }

  .boton-ver
  {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }