/*Debería verse bien en pantallas de 14" y en pantallas de 24"*/
.footerlinks {
    background-color: #f3f3f3; 
    text-align:center; 
    margin-top: 1%;
    padding-bottom: 1%;
  }

.listabaja
{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
}

.listabaja li a {
    color:black;
    text-decoration: none;
}

.listabaja li
{
flex-grow: 11;
}
