/*Debería verse bien en pantallas de 14" y en pantallas de 24"*/
.general
{
    font-family: 'Nunito', Helvetica,Arial,Lucida,sans-serif;
}

.titulo
{

    font-weight: 800;
}

h2
{
    font-weight: 600;

}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link 
{
    color: black;
    background-color: #f3f3f3;
} 

.navbar-nav > li > .dropdown-menu a:hover { background-color: #f3f3f3; }


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}




/*Contacto.html*/
.enlacesindecoracion
{
    text-decoration: none;
    color:black;
}


/* fin contacto */